---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
# Vatu:    Auto Merge Pull Requests
# Version: 1.2.0
# Author:  Michael Bragg <mike@vatu.co.uk>

name: "Dependabot Auto Merge"

on:
  workflow_call:

    inputs:
      runs-on:
        description: "Runner to be used by the parent workflow."
        required: false
        type: string
        default: 'ubuntu-24.04'
      channel_id:
        description: 'Slack channel to post notification.'
        required: false
        type: string
        default: 'failed-updates'

    secrets:
      BOT_ID:
        required: true
      BOT_KEY:
        required: true
      SLACK_TOKEN:
        required: true

jobs:

  # Auto Merge Pull Request.
  #
  # Performs the following steps:
  # - Generate GitHub token from GitHub App (Bot)
  # - Auto Approve Pull Request
  # - Auto Merges Pull Request
  # - Post Slack notification message
  auto-merge-pr:

    name: "Auto Merge PR."

    runs-on: ${{ inputs.runs-on }}

    steps:

      - name: "Generate GitHub token from GitHub App (Bot)"
        uses: tibdex/github-app-token@v2.1.0
        id: generate_token
        with:
          app_id: ${{ secrets.BOT_ID }}
          private_key: ${{ secrets.BOT_KEY }}

      - name: "Auto Approve Pull Request."
        uses: actions/github-script@v7.0.1
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          script: |
            github.rest.pulls.createReview({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.workflow_run.pull_requests[0].number,
              event: 'APPROVE'
            })

      - name: "Auto Merges Pull Request."
        uses: actions/github-script@v7.0.1
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          script: |
            github.rest.pulls.merge({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.workflow_run.pull_requests[0].number,
              merge_method: 'rebase'
            })


      - name: "Post Slack notification message."
        id: 'slack'
        uses: 'slackapi/slack-github-action@v2.1.1'
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_TOKEN }}
          payload: |
            channel: ${{ inputs.channel_id }}
            text: "${{ github.head_ref }} upgraded for ${{ github.event.repository.name }}"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "${{ github.head_ref }} upgraded for ${{ github.event.repository.name }}"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "<${{ github.event.pull_request._links.html.href }}|View request>"
