---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
# Vatu:    PHP Stan
# Version: 1.4.0
# Author:  Michael Bragg <mike@vatu.co.uk>

name: "PHP Stan"

on:
  workflow_call:

    inputs:
      # Runner to be used by the parent workflow.
      runs-on:
        required: false
        type: string
        default: 'ubuntu-24.04'
      # PHP version used by the project.
      version-php:
        required: false
        type: string
        default: "7.4"
      # Composer version to be used by this workflow.
      version-composer:
        required: false
        type: string
        default: "v2"

env:
  COMPOSER_ALLOW_SUPERUSER: "1" # https://getcomposer.org/doc/03-cli.md#composer-allow-superuser

jobs:

  php-stan:

    name: "PHP Stan"
    runs-on: ${{ inputs.runs-on }}

    steps:

      - name: "Checks out the repository."
        uses: "actions/checkout@v4.2.2"

      - name: "Install PHP with Composer tool."
        uses: "shivammathur/setup-php@2.33.0"
        with:
          php-version: "${{ inputs.version-php }}"
          coverage: "none"
          ini-values: "memory_limit=-1"
          tools: composer:${{ inputs.version-composer }}
          ini-file: none
        env:
          COMPOSER_TOKEN: ${{ secrets.github-token }}

      - name: "Get Composer Cache Directory."
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: "Sets up Caching."
        uses: "actions/cache@v4.2.4"
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-php-composer-tools-${{ hashFiles('tools/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-composer-tools-

      - name: 'Add Vatu secrets for Composer dependencies.'
        env:
          composer_vatu_username: ${{ secrets.COMPOSER_VATU_USERNAME }}
          composer_vatu_key: ${{ secrets.COMPOSER_VATU_key }}
        if: "${{ env.composer_vatu_username != '' && env.composer_vatu_key != '' }}"
        run: |
          composer config http-basic.satispress.vatu.dev ${{ secrets.COMPOSER_VATU_USERNAME }} ${{ secrets.COMPOSER_VATU_KEY }}

      - name: "Build site."
        run: |
          composer install --no-interaction --prefer-dist --no-scripts --no-dev

      - name: "Install dependencies."
        run: composer install --working-dir=tools --no-interaction --prefer-dist

      - name: "Logs debug information."
        run: |
          php --version
          composer --version
          php ./tools/vendor/bin/phpstan --version

      - name: "Run PHPStan test."
        run: |
          composer run post-install-cmd
          composer run test-phpstan
